*,
*::before,
*::after {
  box-sizing: border-box;
}

.container,
%container {
  width: 100%;
  max-width: $container-width;
  padding: 0 15px;
  margin: 0 auto;
}

a,
input[type='submit'],
button {
  transition: 0.2s;
}

a {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $f-primary;
}

p {
  font: 400 16px/1.5em $f-primary;
}

.site-content {
  margin: 40px 0 0;
  min-height: 60vh;
}

.home {
  .site-content {
    margin: 0;
  }
}

.site-cta__btn {
  @include clearButton;

  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 30px;
  font: 400 14px/1em $f-primary;
  padding: 15px;
  width: 100%;

  @include hoverBorderInvert($black, $white, 1px);
}

.site-main {
  @extend %container;

  .woocommerce-NoticeGroup {
    width: 100%;
    margin: 0 0 25px;
  }
}

.breadcrumbs-wrapper,
.woocommerce-breadcrumb {
  span,
  span a {
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font: 400 12px/1em $f-primary;
    color: #545454;
  }
}
