.archive #load-more {
  display: none;
}

.woocommerce-pagination {
  margin-bottom: 20px;
}

.summary {
  a.clickBuyButton {
    border: 2px solid #000;
    border-radius: 30px;
    padding: 15px;
    max-width: calc(100% - 90px);
    width: 260px;
    outline: none;
    font: 400 14px/1em $f-primary;
    background: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 0;
    margin-bottom: 20px;

    &:hover {
      background-color: #000;
      color: #fff;
      font: 400 14px/1em $f-primary;
    }
  }
}

#formOrderOneClick input[type='email'],
#buyoneclick_form_order input[type='tel'],
#buyoneclick_form_order input.buyvalide {
  width: calc(100% - 7px) !important;
}

#formOrderOneClick textarea {
  width: calc(100% - 7px) !important;
}

.golden-wrap-products {
  display: flex;
  justify-content: space-between;
}

.golden-filters {
  flex-basis: 20%;

  @include bpmax(620px) {
    flex-basis: 100%;
  }

  a {
    text-decoration: none !important;
  }

  #woocommerce_product_categories-2 {
    ul {
      list-style: none;
    }
  }

  .product-categories {
    padding-left: 0;
  }
}

.products {
  flex-basis: 80%;

  @include bpmax(620px) {
    flex-basis: 100%;
  }
}

.golden-filters .ui-slider-range,
.ui-slider-handle {
  background-color: #ffc832 !important;
}

.site-main .woocommerce {
  padding: 0 0 30px;
}

.golden-filter-button {
  display: none;
  outline: none;

  @include bpmax(630px) {
    display: block;
  }
}

@media (max-width: 630px) {
  .golden-filters__active {
    display: block;
  }
}
