/*  Dimensions & Sizes  */

$container-width: 1300px;
$spacer: 2rem;

/* Fonts */

$f-primary: 'Exo 2', Arial, Helvetica, sans-serif;
$f-secondary: 'Oswald', Arial, Helvetica, sans-serif;

/* Colors */

$white: #fff;
$black: #000;
$c-primary: #ffc832;
$c-secondary: #8d8d8d;
